<div class="table-container">
  <h1 class="table-title">Lista de Deportes Favoritos</h1>
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>deporte favorito</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Edwin campos</td>
        <td>basquetbol</td>
      </tr>
      <tr>
        <td>2</td>
        <td>jesus artiga</td>
        <td>Futbol</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Uriel bernabel</td>
        <td>Futbol</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Al farias</td>
        <td>correr</td>
      </tr>
      <tr>
        <td>5</td>
        <td>jonathan lopez</td>
        <td>basquetbol</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Matias granillo</td>
        <td>bolleybol</td>
      </tr>
      <tr>
        <td>7</td>
        <td>carlos garcia</td>
        <td>Futbol</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Daniel escamilla</td>
        <td>basquetbol</td>
      </tr>
      <tr>
        <td>9</td>
        <td>sayurid baustista</td>
        <td>basquetbol</td>
      </tr>
      <tr>
        <td>10</td>
        <td>dulce salvador</td>
        <td>tenis</td>
      </tr>
      <tr>
        <td>11</td>
        <td>mich otero</td>
        <td>bolleybol</td>
      </tr>
      <tr>
        <td>12</td>
        <td>adrian perez</td>
        <td>natacion</td>
      </tr>
      <tr>
        <td>13</td>
        <td>jose arturo garcia</td>
        <td>tenis</td>
      </tr>
      <tr>
        <td>14</td>
        <td>jesus dominguez</td>
        <td>basquetbol</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Obed Guzman</td>
        <td>tenis</td>
      </tr>
      <tr>
        <td>16</td>
        <td>teresa vazquez</td>
        <td>natacion</td>
      </tr>
      <tr>
        <td>17</td>
        <td>adrian perez</td>
        <td>natacion</td>
      </tr>
      <tr>
          <td>18</td>
          <td>Mauricio rosales</td>
          <td>futbol</td>
        </tr>
        <tr>
          <td>18</td>
          <td>angel baños</td>
          <td>basquetbol</td>
          
        </tr>
        <tr>
          <td>19</td>
          <td>diego rivera</td>
          <td>futbol</td>
      
        </tr>
        <tr>
          <td>20</td>
          <td>derek sesni</td>
          <td>skate</td>
        </tr>
        <tr>
          <td>21</td>
          <td>yazmin guiterrez</td>
          <td>natacion</td>
        </tr>
        <tr>
          <td>22</td>
          <td>francisco garcia</td>
          <td>tenis</td>
        </tr>
        <tr>
          <td>23</td>
          <td>francisco flores</td>
          <td>futbol</td>
      
        </tr><tr>
          <td>24</td>
          <td>jenny barrios</td>
          <td>tenis</td>
        </tr>
        <tr>
          <td>25</td>
          <td>brisa gregorio</td>
          <td>basquetbol</td>
        </tr>
        <tr>
          <td>26</td>
          <td>citlalli</td>
          <td>basquetbol</td>
        </tr>
        <tr>
          <td>27</td>
          <td>giovany pazos</td>
          <td>natacion</td>
        </tr>
        <tr>
          <td>28</td>
          <td>Marco Ramirez</td>
          <td>natacion</td>
        </tr>
    </tbody>
  </table>
</div>
