<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Evento</th>
        <th>División</th>
        <th>Peleador 1</th>
        <th>Peleador 2</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <!-- Enero -->
      <tr>
        <td>13/01/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Semipesado</td>
        <td>Magomed Ankalaev</td>
        <td>Johnny Walker</td>
        <td>Ankalaev por KO R2</td>
      </tr>
      <tr>
        <td>20/01/2024</td>
        <td>UFC 297</td>
        <td>Peso Medio</td>
        <td>Sean Strickland</td>
        <td>Dricus Du Plessis</td>
        <td>Du Plessis por decisión unánime</td>
      </tr>
      <tr>
        <td>20/01/2024</td>
        <td>UFC 297</td>
        <td>Peso Gallo Femenino</td>
        <td>Raquel Pennington</td>
        <td>Mayra Bueno Silva</td>
        <td>Pennington por decisión unánime</td>
      </tr>

      <!-- Febrero -->
      <tr>
        <td>17/02/2024</td>
        <td>UFC 298</td>
        <td>Peso Pluma</td>
        <td>Alexander Volkanovski</td>
        <td>Ilia Topuria</td>
        <td>Topuria por KO R2</td>
      </tr>
      <tr>
        <td>24/02/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Mosca</td>
        <td>Brendon Royval</td>
        <td>Matheus Nicolau</td>
        <td>Royval por KO R1</td>
      </tr>

      <!-- Marzo -->
      <tr>
        <td>09/03/2024</td>
        <td>UFC 299</td>
        <td>Peso Gallo</td>
        <td>Sean O'Malley</td>
        <td>Marlon Vera</td>
        <td>O'Malley por decisión unánime</td>
      </tr>
      <tr>
        <td>09/03/2024</td>
        <td>UFC 299</td>
        <td>Peso Ligero</td>
        <td>Dustin Poirier</td>
        <td>Benoit Saint-Denis</td>
        <td>Poirier por KO R2</td>
      </tr>

      <!-- Abril -->
      <tr>
        <td>13/04/2024</td>
        <td>UFC 300</td>
        <td>Peso Semipesado</td>
        <td>Alex Pereira</td>
        <td>Jamahal Hill</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>13/04/2024</td>
        <td>UFC 300</td>
        <td>Peso Ligero</td>
        <td>Justin Gaethje</td>
        <td>Max Holloway</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Mayo -->
      <tr>
        <td>04/05/2024</td>
        <td>UFC 301</td>
        <td>Peso Mosca</td>
        <td>Alexandre Pantoja</td>
        <td>Steve Erceg</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>18/05/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Pesado</td>
        <td>Ciryl Gane</td>
        <td>Sergey Spivak</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Junio -->
      <tr>
        <td>08/06/2024</td>
        <td>UFC 302</td>
        <td>Peso Welter</td>
        <td>Leon Edwards</td>
        <td>Shavkat Rakhmonov</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>22/06/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Ligero</td>
        <td>Bobby Green</td>
        <td>Jim Miller</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Julio -->
      <tr>
        <td>06/07/2024</td>
        <td>UFC 303</td>
        <td>Peso Pluma</td>
        <td>Ilia Topuria</td>
        <td>Yair Rodriguez</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>20/07/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Gallo</td>
        <td>Merab Dvalishvili</td>
        <td>Henry Cejudo</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Agosto -->
      <tr>
        <td>03/08/2024</td>
        <td>UFC 304</td>
        <td>Peso Medio</td>
        <td>Dricus Du Plessis</td>
        <td>Israel Adesanya</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>17/08/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Pesado</td>
        <td>Tom Aspinall</td>
        <td>Curtis Blaydes</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Septiembre -->
      <tr>
        <td>07/09/2024</td>
        <td>UFC 305</td>
        <td>Peso Mosca Femenino</td>
        <td>Alexa Grasso</td>
        <td>Valentina Shevchenko</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>21/09/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Welter</td>
        <td>Ian Machado Garry</td>
        <td>Vicente Luque</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Octubre -->
      <tr>
        <td>05/10/2024</td>
        <td>UFC 306</td>
        <td>Peso Ligero</td>
        <td>Islam Makhachev</td>
        <td>Charles Oliveira</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>19/10/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Gallo</td>
        <td>Sean O'Malley</td>
        <td>Cory Sandhagen</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Noviembre -->
      <tr>
        <td>02/11/2024</td>
        <td>UFC 307</td>
        <td>Peso Medio</td>
        <td>Khamzat Chimaev</td>
        <td>Paulo Costa</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>16/11/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Paja Femenino</td>
        <td>Zhang Weili</td>
        <td>Amanda Lemos</td>
        <td>Por disputarse</td>
      </tr>

      <!-- Diciembre -->
      <tr>
        <td>07/12/2024</td>
        <td>UFC 308</td>
        <td>Peso Semipesado</td>
        <td>Alex Pereira</td>
        <td>Magomed Ankalaev</td>
        <td>Por disputarse</td>
      </tr>
      <tr>
        <td>14/12/2024</td>
        <td>UFC Fight Night</td>
        <td>Peso Pesado</td>
        <td>Sergei Pavlovich</td>
        <td>Alexander Volkov</td>
        <td>Por disputarse</td>
      </tr>
    </tbody>
  </table>